.BackColor {
    background-color: teal;
}

.TextColor {
    color: black
}

.DropDownList {
    align-items: center;
}

.BtnsColor {
    color: white !important;
    text-align: right;
    background-color: rgb(9, 83, 83) !important;
    margin-left: auto !important;
}

.BackColorModal {
    background-color: white;
}


