.AmmoSearchPosition{
    align-self: center
}

.BtnColor{
        color: white !important;
        text-align: center;
        background-color: rgb(9, 83, 83) !important;
        margin-left: auto !important;
}