.App {
  text-align: center;
  background-image: url(../img/sea.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;

}

.TabsCenter {
  background-color: teal;
}
.TopBox {
  text-align: right;
}
.BtnColor {
  color: white !important;
  text-align: right;
  background-color: rgb(9, 83, 83) !important;
  margin-left: auto !important;
}

.App-lit-color {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
